@model Tennos_Prueba.core.Domain.Entidades.Productos

@{
    ViewData["Title"] = "Delete";
}

<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">

            
            <div class="card p-4 shadow-sm">
                <h4 style="text-align:center">ELIMINANDO PRODUCTO</h4>               
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ProductoID)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ProductoID)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Precio)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <div class="form-group">
                        <h4>ESTAS SEGURO DE ELIMINAR ESTE PRODUCTO?</h4>
                        <hr />
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> |
                        <a asp-action="Index" class="btn btn-outline-secondary btn-sm ms-2">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
